'.source.js':
  'Add Permissions to Project':
    'prefix': 'trappr'
    'body': """
            //Add Permissions to Project
            // project-id	The <project> element is not required, but can be included for compatibility with earlier versions of the REST API. If the <project> element is included, the project-id value must match the project ID in the URI. Any other attributes in the <project> element are ignored.
            // user-id	The ID (not name) of the user to add permissions for.
            // group-id	The ID (not name) of the group to add permissions for.
            // capability-name	The capability to assign. Valid capabilities for a project are
            // AddComment, ChangeHierarchy, ChangePermissions, Connect, Delete, ExportData, ExportImage, ExportXml, Filter, ProjectLeader, Read, ShareView, ViewComments, ViewUnderlyingData, WebAuthoring, and Write.
            // capability-mode	Allow to allow the capability, or Deny to deny it. This value is case sensitive.
            function addPermProj() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/projects/06ca4b01-f882-4f7a-b4b5-60eb8e8bff8f/permissions",
                "method": "PUT",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest>\n  <permissions> \n    <project id=\"06ca4b01-f882-4f7a-b4b5-60eb8e8bff8f\" />\n    <granteeCapabilities>\n      <user id=\"4b10f75f-a1e7-4df4-8cd3-6b4ced0e03bc\" />\n      <capabilities>\n        <capability name=\"write\" mode=\"allow\" />\n      </capabilities>\n    </granteeCapabilities>\n  </permissions>\n</tsRequest>\t"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
