'.source.js':
  'Add Workbook to Favorites':
    'prefix': 'trawfav'
    'body': """
            //Add Workbook to favorites
            function addWorkbookToFavorite() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/favorites/"+ favoriteID,
                "method": "PUT",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest> \n  <favorite label=\"I was Favorited by REST\"> \n    <workbook id=\"workbookID\" /> \n  </favorite> \n</tsRequest>\n\n"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
