'.source.js':
  'Add Tags to Workbook':
    'prefix': 'tratagw'
    'body': """
            //Add Tags to Workbook
            function addTagsToWorkbook() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/workbooks/"+ workbookID,
                "method": "PUT",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest> \n  <workbook id=\"workbookID\">\n    <tags> \n      <tag label=\"Tagged by the REST API\" /> \n      <tag label=\"tag2\" />\n    </tags> \n  </workbook> \n</tsRequest>\n"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
