'.source.js':
  'Add User to Group':
    'prefix': 'traug'
    'body': """
            //Add User to Group
            //The ID (not name) of the user to add. You can get the user ID by calling getUsersOnSite()
            function addUserToGroup() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/groups/"+ groupID + "/users",
                "method": "POST",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest>\n\t<user id=\"userID\" />\n</tsRequest>"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
