'.source.js':
  'Add View to favorite':
    'prefix': 'trawvfav'
    'body': """
            //Add View to favorites
            function addViewToFavorite() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/favorites/5a5f8edb-c8d1-4fd3-971c-0fb159e07f19",
                "method": "PUT",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest> \n  <favorite label=\"I was Favorited by REST\"> \n    <view id=\"ae7a0f32-7faa-4e01-86bd-803e18ca7012\" /> \n  </favorite> \n</tsRequest>\n\n"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
