'.source.js':
  'Clear Marks':
    'prefix': 'tjsclearmarks'
    'body': """
            function clearSelection() {
              workbook.getActiveSheet().clearSelectedMarksAsync();
              }   
            """
