'.source.js':
  'Delete Workbook from favorites':
    'prefix': 'trdwfav'
    'body': """
            //Delete Workbook from favorites
            function deleteWorkbookFromFavorite() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/favorites/"+favoriteID+"/workbooks/"+workbookID,
                "method": "DELETE",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "\n\n"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
