'.source.js':
  'Delete User from Group':
    'prefix': 'trdug '
    'body': """
            //Delete User from Group
            function deleteUserFromGroup() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/groups/"+groupID"/users/"+userID,
                "method": "DELETE",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
