'.source.js':
  'Delete View from Favorite':
    'prefix': 'trdwvfav'
    'body': """
            //Delete View from favorites
            //data section visible in Postman, not in documentation.
            function deleteViewFromFavorite() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/favorites/"+favoriteID+"/views/"+viewID,
                "method": "DELETE",
                "headers": {
                  "x-tableau-auth": auth
                },
                //"data": "\n\n"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }

            """
