'.source.js':
  'Download Data Source':
    'prefix': 'trdld'
    'body': """
            //Download Data Source
            //This will actually pull down a tds or tdsx
            //Datasource ID comes after /datasources/
            function downloadDatasource() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/datasources/73bc79fd-1641-4aa5-a126-fd2ed5d431ad/content",
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
