'.source.js':
  'Query Data Source Conn for TWB':
    'prefix': 'trqdw'
    'body': """
            //Query Data Source Connection for specific workbook
            //Returns Connection ID, connection type, server address, server port, username,
            //Datasource ID comes after /datasources/
            function queryDsConnection() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/datasources/"+datasourceID,
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
