'.source.js':
  'Query Data Source':
    'prefix': 'trqd'
    'body': """
            //Query Data Source
            //Returns name, type, project id, project name, tags
            //Datasource ID comes after /datasources/
            function queryDatasource() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/datasources/73bc79fd-1641-4aa5-a126-fd2ed5d431ad",
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
