'.source.js':
  'Query View with Image':
    'prefix': 'trqwvi'
    'body': """
            //Query View with Preview Image
            function queryViewPreviewImage() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/workbooks/"+workbookID+"/views/"+viewID+"/previewImage",
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
