'.source.js':
  'Query Workbook with Preview Image':
    'prefix': 'trqwi'
    'body': """
            //Query Workbook with Preview Image
            //returns preview Image in PNG
            function queryWorkbookImage() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/workbooks/"+workbookID+"/previewImage",
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
