'.source.js':
  'Query Workbook Data Connection':
    'prefix': 'trqwdata'
    'body': """
            //Query Workbook data connections
            // RETURNS
            // connection id="connection-id" type="connection-type"
            // serverAddress="server-address" serverPort="port"
            // userName="connection-user-name" />
            function queryWorkbbokConnections() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/workbooks/"+workbookID+"/connections",
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
