'.source.js':
  'Query Datasource Permissions':
    'prefix': 'trqpds'
    'body': """
            //Query Permisions for Datasource
            //RESPONSE BODY CODES
            // datasource-id	The <datasource> element is not required, but can be included for compatibility with earlier versions of the REST API. If the <datasource> element is included, the datasource-id value must match the data source ID in the URI. Any other attributes in the <datasource> element are ignored.
            // user-id	The ID (not name) of the user
            // group-id	The ID (not name) of the group
            // capability-name	Valid capabilities for a data source are ChangePermissions, Connect, Delete, ExportXml, Read, and Write.
            // capability-mode	Allow to allow the capability, or Deny to deny it. This value is case sensitive.
            function queryPermDS() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid "/datasources/73bc79fd-1641-4aa5-a126-fd2ed5d431ad/permissions",
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
