'.source.js':
  'Remove Marks':
    'prefix': 'tjsremmark'
    'body': """
    function removeFromSelection() {
      workbook.getActiveSheet().selectMarksAsync(
    "DIMENSION/MEASURE",
    {
      max: VALUE
    },
    tableau.FilterUpdateType.REMOVE);
}
    """
