'.source.js':
  'Select Mark':
    'prefix': 'tjsmark'
    'body': """
              function selectSingleValue() {
                workbook.getActiveSheet().selectMarksAsync(
              "DIMENSION",
              "VALUE",
              tableau.SelectionUpdateType.REPLACE);
            }
              """
