'.source.js':
  'Tabswitch':
    'prefix': 'tjstab'
    'body': """
                function switchTab() {
                workbook.activateSheetAsync("SHEET NAME");
            }
                """
