'.source.js':
  'Update Workbook Data Connections':
    'prefix': 'truwdata'
    'body': """
            //Update Workbook data connections
            function updateWorkbookConnections() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/workbooks/"+workbookID+"/connections/"+connectionID,
                "method": "PUT",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest>\n\t<connection serverAddress=\"newAddr\" serverPort=\"5435\" userName=\"newUserName\" password=\"newPass\" />\n</tsRequest>"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
