'.source.js':
  'Update Workbook Project/Owner':
    'prefix': 'truw'
    'body': """
            //Update Workbook's Project or owner
            function updateWorkbook() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/workbooks/"+workbookID,
                "method": "PUT",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest> \n  <workbook> \n     <project id=\"projectID\"/> \n     <owner id=\"userID\" />\n </workbook> \n</tsRequest>"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
