'.source.js':
  'Update Workbook Data Connections':
    'prefix': 'truwdata'
    'body': """
            //Update Workbook data connections
            function updateWorkbookConnections() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/workbooks/c2f3b70c-950d-420f-a1e8-2c13607ae4e8/connections/3c52ec95-01ff-4043-b39b-0f54728fb76a",
                "method": "PUT",
                "headers": {
                  "x-tableau-auth": auth
                },
                "data": "<tsRequest>\n\t<connection serverAddress=\"newAddr\" serverPort=\"5435\" userName=\"newUserName\" password=\"newPass\" />\n</tsRequest>"
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
