'.source.js':
  'Query Workbooks by User':
    'prefix': 'trqwxu'
    'body': """
            //Query Workbooks owned by user
            //User ID comes after /users/
            function queryTWBbyUser() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/users/"+userID,
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
