'.source.js':
  'Query Workbooks by User':
    'prefix': 'trqwxu'
    'body': """
            //Query Workbooks owned by user
            //User ID comes after /users/
            function queryTWBbyUser() {
              var settings = {
                "async": true,
                "crossDomain": true,
                "url": url + "sites/" + siteid + "/users/12d0eb42-1112-4df5-b60d-5dc18aaf3294/workbooks",
                "method": "GET",
                "headers": {
                  "x-tableau-auth": auth
                }
              }

              $.ajax(settings).done(function(response) {
                console.log(response);
              });
            }
            """
